.section-features {
    padding: 15rem 0;
    margin-top: -11rem;;

    background-image: linear-gradient(
        to left top,
        rgba($color-light-green, 0.8),
        rgba($color-medium-green, 0.8),
        rgba($color-dark-green, 0.8)
      ),
      url('../img/in_back_12.jpg');
    background-size: cover;
    transform: skewY(-5deg);

    & > * {
        transform: skewY(5deg);
    }
}