.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-blue-secondary, 0.8),
    rgba($color-blue-primary, 0.8),
    rgba($color-light-green, 0.8)
  );
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);

  position: relative;

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo-box_logo {
    height: 3rem;
    transform: scale(1.4);
    transition: all 0.4s;
    backface-visibility: hidden;
  }

  &__text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
  }

  &__profile {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    width: 20rem;
    height: 20rem;
    transition: all 0.3s;

    &_img {
      height: 100%;
    }
    &:hover {
      transform: translateY(-2rem) scale(1.3);
    }
  }
}


  
